// @file
// Custom sass variables
//
// Define the custom variables for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

// Colors
$f1-red: rgb(248, 102, 70);
$primary-text-color: #fff;
$secondary-text-color: #555;
$heading-text-color: $primary-text-color;
$body-color: #000;
$link-color: $f1-red;
$link-hover-color: lighten($f1-red, 5%);
$selection-background: blue;
$selection-foreground: #fff;
$border-color: #ccc;
$gradient-light: rgba(255, 255, 255, 0.2);
$gradient-dark: rgba(0, 0, 0, 0.2);

// Typography
$base-font-family: Oswald, Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: Oswald, AlternateGothicNo1D, LeagueGothicRegular, Arial, Helvetica, sans-serif;
$monospace-font-family: Consolas, "Lucida Console", "Liberation Mono", "Courier New", monospace, sans-serif;
$base-font-size: 48px;
$base-line-height: 72px;
$font-size-xxl: 96px;
$font-size-xl: 72px;
$font-size-lg: 60px;
$font-size-normal: $base-font-size;
$font-size-md: 36px;
$font-size-sm: 32px;
$gutter-width: 48px;

// Buttons
$button-bg-color: #f9f9f9;
$button-text-color: #333;
$button-font-family: $base-font-family;
